<div #sunburst id="sunburst">
<div id="chart" class="svg-container" #chart>
<!-- canvas class="Icon-canvas" width="460" height="260"></canvas-->
<!-- div class="header" #hdiv id="hdiv">
	<div #d_heading id="d_heading" style="float: left; padding: 3px;">
	</div>
	<div #d_toolbar id="d_toolbar" style="float: right; padding: 3px;">
		<i class="material-icons md-18" title="Fullscreen" (click)="fullScreen()">fullscreen</i>
		<i class="material-icons md-18" title="Exit Fullscreen" (click)="exitFullScreen()">fullscreen_exit</i>		
	</div>
</div>
<div #fdiv id="footer"></div-->
</div>
<div>
