
.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #000;
}

.d3-chart .axis text {
  fill: #000;
}

.d3-chart {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, #2e7294 0%, #1b4a63 100%);
  border-radius: 3px;
}
