path {
	stroke: #fff;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: red;
}

.d3-chart .axis text {
  fill: #fff;
}

.d3-chart {
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  /*height: 100%;
  margin-top:30px;
  background: radial-gradient(ellipse at center, #2e7294 0%, #1b4a63 100%);*/
  border-radius: 3px;
  overflow: hidden;
}
div.progress{
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-left: 0;
	padding-top: 0;
	 z-index: 9999; 
	 background-color: rgba(0,0,0,0.3); 
	/* background-color: Black;  */
	/* opacity: .5; */
}
div.circle{
	position:fixed;
	top:45%;
	left:45%;
	z-index:50;  
	
}

.layout{
	width:45px;
	stroke-width:15px;
	stroke:red;
}

span{
	font-family:serif;
	font-style:italic;
	font-size:14px;
	color: #ff1fff; 
}
